@font-face{
  font-family: "Inter";
  src: url('../fonts/Inter/Inter-Thin.ttf');
  font-weight: 100;
}

@font-face{
  font-family: "Manrope";
  src: url('../fonts/Manrope/Manrope-Medium.woff2');
}

@font-face{
  font-family: "Roboto Condensed";
  font-weight: 700;
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}

@font-face{
  font-family: "Roboto Slab";
  font-weight: 400;
  src: url('../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}

/*GERAL*/

* {
  margin: 0;
  padding: 0;
}

body{
  background: white;
  color: #01110A;
}

a{
  color: #003E1F;
  text-decoration: none;
}

h1{
  padding: 30px 0;
  text-align: center;
  /*font-family: "Roboto Condensed";*/
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -0.025em;
  color: WHITE;
  /*=== SET BACKGROUND IMAGE ===*/
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/grama.jpg");
  background-size: cover;
  background-position: center;
}

h2{
  /*FAZER!*/
}

h3{
  font-family: "Manrope";
  font-weight: normal;
  text-align: center;
}

hr{
  margin: 0 5% 40px 5%;
}

button{
  padding: inherit;
  font-family: inherit;
  background: inherit;
  color: inherit;
  border: inherit;
}

/*HEADER*/

header{
  font-family: "Manrope";
  background: #003E1F;
  position: fixed;
  padding: 0 40px;
  width: 100%; 
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
}

header a {
  color: white;
  border-radius: 15px 5px;
  transition: 0.5s;
}

nav a:hover{
  color: #003E1F;
  background: white;
  padding: 8px 8px;
  text-decoration: underline;
  transition: 0.35s;
}

nav{
  display: flex;
  margin: 0 80px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/*CONTEUDO*/

#container{
  position: static;
  /*padding: 90px 40px 0 40px;*/
  padding-top: 90px
}

#conteudo{
  padding: 40px 40px;
}

#imgComLegenda{
  font-family: "Roboto Slab";
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 60px;
}

#imgComLegenda ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: 500ms;
}

#imgComLegenda a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgComLegenda ul:hover{
  transition: 200ms;
  text-decoration: underline;
}

#imgComLegenda ul:hover .imgConteudos{
  border: 2px solid #003E1F;
}

.imgConteudos{
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 30px 10px;
  border: 2px solid #003E1F22;
}

