@font-face{
  font-family: "Inter";
  src: url('../fonts/Inter/Inter-Thin.ttf');
  font-weight: 100;
}

@font-face{
  font-family: "Manrope";
  src: url('../fonts/Manrope/Manrope-Medium.woff2');
}

@font-face{
  font-family: "Roboto Condensed";
  font-weight: 700;
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}

@font-face{
  font-family: "Roboto Slab";
  font-weight: 400;
  src: url('../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}

/*GERAL*/

* {
  margin: 0;
  padding: 0;
}

body{
  background: white;
  color: #01110A;
}

a{
  color: #003E1F;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

h1.tituloConteudo{
  padding: 30px 0;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -0.025em;
  color: WHITE;
  /*=== SET BACKGROUND IMAGE ===*/
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/grama.jpg");
  background-size: cover;
  background-position: center;
}

h2{
  /*FAZER!*/
}

h3{
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1.30em;
  text-align: center;
}

hr{
  margin: 0 5% 40px 5%;
}

button{
  padding: inherit;
  font-family: inherit;
  background: inherit;
  color: inherit;
  border: inherit;
}

/*HEADER*/

header{
  font-family: "Manrope";
  background: #003E1F;
  position: fixed;
  padding: 0 40px;
  width: 100%; 
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
}

header a {
  color: white;
  border-radius: 15px 5px;
  transition: 0.5s;
  font-weight: normal;
}

nav a:hover{
  color: #003E1F;
  background: white;
  padding: 8px 8px;
  text-decoration: underline;
  transition: 0.35s;
}

nav{
  display: flex;
  margin: 0 80px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

footer{
  height: auto;
  background: black;
}

footer .disclaimer{
  padding: 15px 20px;
  color: #B3D0A9;
  font-family: "Manrope";
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0.7px;
}

/*CONTEUDO*/

#container{
  position: static;
  /*padding: 90px 40px 0 40px;*/
  padding-top: 90px;
}

#conteudo{
  padding: 40px 40px;
  font-family: "Manrope";
  font-weight: 200;
  text-align: left;
  line-height: 25px;
}

#conteudo img{
  border-radius: 30px 10px;
  border: 2px solid white;
}

#conteudoTexto{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: justify;
  text-align: justify;
  gap: 1em;
}

#conteudoTexto h3{
  padding: 15px 0;
}

#conteudoTexto img{
  display: block;
  width: 90%;
  margin: 10px auto;
  align: center;
}

@media only screen and (min-width: 600px) {
  #conteudoTexto{
    width: 60%;
  }
  #conteudoTexto img{
    width: 400px;
  }
}

h1.tituloHome{
  padding: 4em 10%;
  text-align: center;
  /*font-family: "Roboto Condensed";*/
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.10em;
  color: WHITE;
  /*=== SET BACKGROUND IMAGE ===*/
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/home.jpg");
  background-size: cover;
  background-position: center;
}

.fgAzul{
  color: #51A6EB;
}

.fgVerde{
  color: #8CC04F;
}

#imgComLegenda{
  font-family: "Roboto Slab";
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 60px;
}

#imgComLegenda ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: 500ms;
}

#imgComLegenda a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgComLegenda ul:hover{
  transition: 200ms;
}

#imgComLegenda ul:hover .imgConteudos{
  border: 2px solid #003E1F;
}

.imgConteudos{
  width: 200px;
  height: 150px;
  overflow: hidden;
}

/* ==== RESPONSIVIDADE ==== */

@media only screen and (max-width: 560px) {
  header img {
    content: url('../img/logo.png');
    width: 40px;
  }
  nav {
    gap: 5%;
    margin: 0 20%;
  }
}
